{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebGraficos</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>

<div id="header">
    <span class="logo"><a href="{% url "index" %}">Sistema Gerador de Gráficos</a></span>

     <ul class="menu">
      <li>
        <a href="{% url "index" %}">Seção Gráficos 01</a> |
      </li>
       <li>
        <a href="{% url "input_plot3" %}">Seção Gráficos 02</a>
      </li>
    </ul>
</div>

<div id="content">

{% block content %}
{% endblock %}
</div>

</body>
</html>