{% extends 'base.html' %}
{% block content %}

<div class="content">
    <img src="data:image/png;base64,{{fig1}}" alt="" width=800 height=auto/>
    <img src="data:image/png;base64,{{fig2}}" alt="" width=800 height=auto/>
    <img src="data:image/png;base64,{{fig3}}" alt="" width=800 height=auto/>
    <img src="data:image/png;base64,{{fig4}}" alt="" width=800 height=auto/>
    <img src="data:image/png;base64,{{fig5}}" alt="" width=800 height=auto/>
    <img src="data:image/png;base64,{{fig6}}" alt="" width=800 height=auto/>
    <img src="data:image/png;base64,{{fig7}}" alt="" width=800 height=auto/>
    <img src="data:image/png;base64,{{fig8}}" alt="" width=800 height=auto/>
    <img src="data:image/png;base64,{{fig9}}" alt="" width=800 height=auto/>
</div>


{% for field in form %}
<p class="help">{{ field.value }}</p>
{% endfor %}


{% endblock %}